---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-avoid-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -performance-unnecessary-value-param,
  -cppcoreguidelines-non-private-member-variables-in-classes

WarningsAsErrors: "*"

HeaderFilterRegex: "^(include|src)/.*"

ExtraArgsBefore:
  - "-Wno-builtin-macro-redefined"
  - "-D__cpp_concepts=202002L"
